*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*index.php
*index.html
*/application/cache/*
*/application/config/autoload.php
*/application/config/config.php
*/application/config/database.php
*/application/config/doctype.php
*/application/config/constrants.php
*/application/config/hooks.php
*/application/config/migration.php
*/application/config/mime.php
*/application/config/profile.php
*/application/config/routes.php
*/application/config/smileys.php
*/application/config/user_agents.php
*/application/config/profiler.php
*/application/config/foreign_chars.php

